_flows/rvig.sent.messaging.receive_message.yml
id: receive_message
namespace: rvig.sent.messaging

variables:
  host: rabbitmq

inputs:
  - id: context
    type: STRING
    defaults: bijhouden
    required: true
  - id: instantie_naar
    type: STRING
    defaults: "1811"
    required: false

tasks:
  - id: start
    type: io.kestra.plugin.core.log.Log
    message: Start taak haal bericht op
  - id: haal_bericht
    type: io.kestra.plugin.amqp.Consume
    url: amqp://guest:guest@{{vars.host}}:5672/{{inputs.context}}
    queue: kestramqp.queue.{{inputs.context}}.{{inputs.instantie_naar}}
    serdeType: JSON
    maxRecords: 1
  - id: vertaal_json
    type: io.kestra.plugin.serdes.json.IonToJson
    newLine: true
    from: "{{ outputs.haal_bericht.uri }}"
  - id: log_bericht
    type: io.kestra.plugin.core.log.Log
    message: Dit is het bericht {{ read(outputs.vertaal_json.uri) | jq('.data') | first}}
  - id: einde
    type: io.kestra.plugin.core.log.Log
    message: Einde taak haal bericht op