_flows/rvig.sent.bijhouden.vervolginschrijving.yml
id: vervolginschrijving
namespace: rvig.sent.bijhouden

variables:
  host: host.docker.internal

inputs:
  - name: context
    type: STRING
    defaults: bijhouden
    required: true
  - name: bericht
    type: STRING
    defaults: Ii01
    required: true    
  - name: PLnummer
    type: STRING
    defaults: "001"
    required: true
  - name: instantie_van
    type: STRING
    defaults: "1810"
    required: false
  - name: instantie_naar
    type: STRING
    defaults: "1811"
    required: false

tasks:
  - id: initieer_berichtenstroom
    type: io.kestra.core.tasks.log.Log
    message: Initieer Ii01 bericht
   
  - id: initiate_and_send_message
    type: io.kestra.core.tasks.flows.Subflow
    namespace: rvig.sent.messaging
    flowId: initiate_and_send_message
    inputs:
      instantie_van: '{{ inputs.instantie_van}}'
      instantie_naar: '{{ inputs.instantie_naar}}'
      PLnummer: '{{ inputs.PLnummer}}'
      context: '{{ inputs.context }}'
      bericht: '{{ outputs.maak_bericht}}'

  - id: stuur_pl
    type: io.kestra.core.tasks.flows.Parallel
    tasks:
      - id: controeer_pl
        type: io.kestra.core.tasks.flows.Sequential
        tasks:
          - id: haal_pl_op
            type: "io.kestra.plugin.mongodb.Find"
            connection:
              uri: "mongodb://{{vars.host}}:27017/?authSource=admin"
            database: "local"
            collection: "pl"
            filter:
              _id:
                $oid: 657f5a7b260794696f111bcb
          - id: doe_bestandscontrole
            type: io.kestra.plugin.fs.http.Request
            uri: https://marc4gov.pythonanywhere.com/initiatie/controle_ok
          - id: check_bestand
            type: io.kestra.core.tasks.log.Log
            message: Resultaat is {{outputs.doe_bestandscontrole.body | jq('.bericht') | first }}
      - id: check_bericht
        type: io.kestra.core.tasks.log.Log
        message: Dit is een {{ outputs.stuur_Ii01_bericht.body | jq('.bericht') | first }} bericht
  - id: stuur_antwoord
    type: io.kestra.core.tasks.flows.Switch
    value: "{{ vars.antwoord}}"
    cases: 
      NIET_UNIEK:
        - id: niet_uniek
          type: io.kestra.core.tasks.log.Log
          message: Niet uniek
      NIET_AANWEZIG:
        - id: niet_aanwezig
          type: io.kestra.core.tasks.log.Log
          message: Niet aanwezig
    defaults:
      - id: gevonden
        type: io.kestra.core.tasks.flows.Switch
        value: "{{ vars.gevonden}}"
        cases: 
          OVERLEDEN:
            - id: overleden
              type: io.kestra.core.tasks.log.Log
              message: Overleden
          GEBLOKKEERD:
            - id: geblokkeerd
              type: io.kestra.core.tasks.log.Log
              message: Geblokkeerd
          MINISTERIEEL_BESLUIT:
            - id: ministerieel_besluit
              type: io.kestra.core.tasks.log.Log
              message: Ministerieel Besluit
          GEËMIGREERD:
            - id: geëmigreerd
              type: io.kestra.core.tasks.log.Log
              message: Geëmigreerd
        defaults:
          - id: actueel
            type: io.kestra.core.tasks.log.Log
            message: Actueel


taskDefaults:
  - type: io.kestra.plugin.scripts.python.Script
    values:
      runner: DOCKER
      docker:
        image: ghcr.io/kestra-io/pydata:latest
        pullPolicy: NEVER

